In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nuuk,GL,2021-03-15 03:19:27,64.1835,-51.7216,21.20,86,20,14.97
1,1,Atuona,PF,2021-03-15 03:19:28,-9.8000,-139.0333,80.33,68,4,10.11
2,2,Ushuaia,AR,2021-03-15 03:15:43,-54.8000,-68.3000,48.20,71,75,8.05
3,3,Bethel,US,2021-03-15 03:19:29,41.3712,-73.4140,27.00,44,3,1.01
4,4,Mar Del Plata,AR,2021-03-15 03:15:00,-38.0023,-57.5575,70.00,94,0,3.44

In [10]:
# get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# configure gmaps to use google api key
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-03-15 03:19:28,-9.8000,-139.0333,80.33,68,4,10.11
6,6,Saint-Philippe,RE,2021-03-15 03:19:30,-21.3585,55.7679,77.00,78,90,4.61
17,17,Padang,ID,2021-03-15 03:19:19,-0.9492,100.3543,84.20,70,20,3.44
20,20,Butaritari,KI,2021-03-15 03:19:40,3.0707,172.7902,81.55,79,11,14.43
24,24,Cap Malheureux,MU,2021-03-15 03:19:43,-19.9842,57.6142,75.00,93,92,1.01
26,26,Bambanglipuro,ID,2021-03-15 03:19:44,-7.9500,110.2833,86.58,65,85,2.35
28,28,Tchollire,CM,2021-03-15 03:19:44,8.4022,14.1698,77.88,51,100,4.88
29,29,Kloulklubed,PW,2021-03-15 03:19:45,7.0419,134.2556,86.00,70,75,8.05
30,30,Namibe,AO,2021-03-15 03:19:45,-15.1961,12.1522,75.90,83,100,2.55
31,31,Avarua,CK,2021-03-15 03:18:09,-21.2078,-159.7750,82.40,78,20,6.91

In [25]:
# check for null values
preferred_cities_df.count()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1           Atuona      PF     80.33  -9.8000 -139.0333
6   Saint-Philippe      RE     77.00 -21.3585   55.7679
17          Padang      ID     84.20  -0.9492  100.3543
20      Butaritari      KI     81.55   3.0707  172.7902
24  Cap Malheureux      MU     75.00 -19.9842   57.6142
26   Bambanglipuro      ID     86.58  -7.9500  110.2833
28       Tchollire      CM     77.88   8.4022   14.1698
29     Kloulklubed      PW     86.00   7.0419  134.2556
30          Namibe      AO     75.90 -15.1961   12.1522
31          Avarua      CK     82.40 -21.2078 -159.7750

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,80.33,-9.8000,-139.0333,Villa Enata
6,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
17,Padang,ID,84.20,-0.9492,100.3543,Mercure Padang
20,Butaritari,KI,81.55,3.0707,172.7902,Isles Sunset Lodge
24,Cap Malheureux,MU,75.00,-19.9842,57.6142,Pereybere Hotel & Spa
26,Bambanglipuro,ID,86.58,-7.9500,110.2833,Puri Brata
28,Tchollire,CM,77.88,8.4022,14.1698,"Auberge ""l'amicale"""
29,Kloulklubed,PW,86.00,7.0419,134.2556,Storyboard Beach Resort
30,Namibe,AO,75.90,-15.1961,12.1522,Hotel Chik Chik Namibe
31,Avarua,CK,82.40,-21.2078,-159.7750,Paradise Inn

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))