In [1]:
# import dependecies
import pandas as pd
import gmaps
import requests

# import the api key
from config import g_key

In [2]:
# store the csv you saved created in part one into a df
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bat Khela,PK,2021-03-17 20:17:47,34.6167,71.9714,59.32,55,0,6.22
1,1,Millinocket,US,2021-03-17 20:17:48,45.6573,-68.7098,50.00,20,1,8.05
2,2,Mahebourg,MU,2021-03-17 20:17:49,-20.4081,57.7000,78.80,73,40,9.22
3,3,Qazvin,IR,2021-03-17 20:17:49,36.2797,50.0049,57.20,58,91,13.80
4,4,Puerto Ayora,EC,2021-03-17 20:17:50,-0.7393,-90.3518,84.20,70,40,6.91

In [3]:
# get the data  types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your google api key
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Mahebourg,MU,2021-03-17 20:17:49,-20.4081,57.7000,78.80,73,40,9.22
4,4,Puerto Ayora,EC,2021-03-17 20:17:50,-0.7393,-90.3518,84.20,70,40,6.91
7,7,Vaini,TO,2021-03-17 20:14:18,-21.2000,-175.2000,78.80,89,40,6.91
15,15,Cayenne,GF,2021-03-17 20:17:56,4.9333,-52.3333,84.20,65,20,12.66
16,16,Bengkulu,ID,2021-03-17 20:17:58,-3.8004,102.2655,75.49,87,100,5.39
20,20,Mitsamiouli,KM,2021-03-17 20:18:01,-11.3847,43.2844,83.50,70,7,3.69
25,25,Kulhudhuffushi,MV,2021-03-17 20:18:03,6.6221,73.0700,82.94,64,66,2.06
29,29,Meulaboh,ID,2021-03-17 20:16:55,4.1363,96.1285,77.76,80,80,2.48
31,31,Rikitea,PF,2021-03-17 20:18:06,-23.1203,-134.9692,79.43,77,100,15.86
38,38,Alugan,PH,2021-03-17 20:18:10,12.2188,125.4808,80.31,82,100,4.09

In [21]:
# check for null values
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2        Mahebourg      MU     78.80 -20.4081   57.7000
4     Puerto Ayora      EC     84.20  -0.7393  -90.3518
7            Vaini      TO     78.80 -21.2000 -175.2000
15         Cayenne      GF     84.20   4.9333  -52.3333
16        Bengkulu      ID     75.49  -3.8004  102.2655
20     Mitsamiouli      KM     83.50 -11.3847   43.2844
25  Kulhudhuffushi      MV     82.94   6.6221   73.0700
29        Meulaboh      ID     77.76   4.1363   96.1285
31         Rikitea      PF     79.43 -23.1203 -134.9692
38          Alugan      PH     80.31  12.2188  125.4808

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Puerto Ayora,EC,84.20,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Vaini,TO,78.80,-21.2000,-175.2000,Keleti Beach Resort
15,Cayenne,GF,84.20,4.9333,-52.3333,Hôtel Le Dronmi
16,Bengkulu,ID,75.49,-3.8004,102.2655,Grage Hotel Bengkulu
20,Mitsamiouli,KM,83.50,-11.3847,43.2844,Foyer ADM
25,Kulhudhuffushi,MV,82.94,6.6221,73.0700,Haajy Guest House 1
29,Meulaboh,ID,77.76,4.1363,96.1285,Kost Pria
31,Rikitea,PF,79.43,-23.1203,-134.9692,Pension Maro'i
38,Alugan,PH,80.31,12.2188,125.4808,JM Lodge

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))